{% assign post = include.post %}

<article id="post-{{ post.id | slice: 1,9999 }}" class="post{% if include.link_title %} mb6{% endif %}" role="article">
  <header>

    <h1 class="post-title">
      {% if include.link_title %}<a href="{{ post.url | relative_url }}" data-flip="title">{% endif %}
        {{ post.title }}
      {% if include.link_title %}</a>{% endif %}
    </h1>
    <!--년월일-->
    {% assign post_format = "%Y년 %m월 %d일 글" | default:"%Y %m %d" %}
    <div class="post-date">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}</time>
      <br>
      <!-- category-tag -->
      {% assign category_start     = "카테고리 : "     | default:" in " %}
      {% assign category_separator = site.data.strings.category_separator | default:" >> " %}
      {% include tag-list.html tags=post.categories meta=site.featured_categories start_with=category_start separator=category_separator %}
      <br>
      {% include tag-list.html tags=post.tags meta=site.featured_tags start_with="tag #" separator=", " %}
    </div>

    {% include message.html text=post.description %}
  </header>
  {% for tag_slug in post.tags %}
    {% unless tag.header-img %}
      {% assign tag = site.featured_tags | where: "slug", tag_slug | first %}
    {% endunless %}
  {% endfor %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {% unless include.excerpt %}
    <div class="markdown-body">

      <div style="text-align:right;">
        <a href="https://hits.seeyoufarm.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}">
          <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2F{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}&count_bg=%23062AFF&title_bg=%23000000&icon=bloglovin.svg&icon_color=%23E7E7E7&title=Post+hits&edge_flat=false"/>
        </a>
      </div>



{% if post.header-img %}<div class="head-image"><img src="{{ site.url }}/{% if post.header-img %}assets/{{ post.header-img }}{% endif %}"/></div>
<br/>{% elsif tag.header-img %}
<div class="head-image"><img src="{{ site.url }}/assets/{{ tag.header-img }}"/></div>
<br/>{% endif %}
<style>
.googleads { display:block; width:98%; height: 280px; }
@media(min-width: 600px) { .googleads { display: none; } }
</style>
<!-- 구글 에드센스 -->
<ins class="adsbygoogle myAd1190"
    data-ad-client="ca-pub-6553830366764192"
></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/>

      <!--게시물 내용-->
      {{ post.content }}
      <br/>
      <!-- 블로그-하단-반응형  -->
      <br/>
      
      <ins class="adsbygoogle"
          style="display:block; width:100%; height:300px;"
          data-ad-client="ca-pub-6553830366764192"
          data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
     
    </div>

    <script>

    </script>

  {% else %}

    {{ post.excerpt }}
    <p class="read-more"><a class="heading" href="{{ post.url | relative_url }}" data-flip="title">Continue reading </a></p>
  {% endunless %}

</article>
{% unless include.link_title %}
  <!-- <hr class="dingbat" /> -->

  <!-- </div> -->
  <!-- <br/> -->
{% endunless %}
